# Visual Studio
.vs

# Github
.github

# Build output
[Bb]in/
[Oo]bj/

# Appsettings
appsettings.json
appsettings.*.json
!appsettings.Example.json

# Logs
*.log

# Coverage files
coverage/
*.lock

# User specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
